@font-face {
    font-family: "MyFont";
    src: url("Pixellari.ttf");
}

* {
    font-family: "MyFont", sans-serif;
}

.container  {
    background-color: rgb(95, 94, 173);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-game-btn {
    margin-top: 20px;
}

.names  {
    color: white;
    height: 60px;
}

.points {
    height: 100px;
    color: black;
    font-size: 50px;
}

.buttons {
    height: 60px;
}

.buttons, .points, .names {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

button {
    color: white;
    background-color: #333;
    border: solid #fff;
    border-radius: 5px;
    transition: 0.1s;
}

button:hover {
    background-color: #1e1e1e;
    cursor: pointer;
    transform: scale(1.1)
}

#new-game-btn {
    background-color: rgb(133, 38, 38);
    font-size: 25px;
}

body {
    justify-content: center;
}